<!DOCTYPE html>
<html>
<head>
    <title>Agregar objeto</title>
</head>
<body>
    <h1>Agregar nuevo objeto al trastero</h1>
    <form method="POST">
        <label>Nombre:</label><br>
        <input type="text" name="nombre"><br>
        <label>Categoría:</label><br>
        <input type="text" name="categoria"><br>
        <label>Ubicación:</label><br>
        <input type="text" name="ubicacion"><br>
        <label>Cantidad:</label><br>
        <input type="number" name="cantidad" value="1"><br>
        <label>Notas:</label><br>
        <textarea name="notas"></textarea><br>
        <input type="submit" value="Agregar">
    </form>
</body>
</html>
